.screen-container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.search-container {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}

.search-container input[type='text'] {
    width: 30%;
    padding: 15px;
    border: none;
    border-radius: 30px;
    font-size: 14px;
    color: white;
    background-color: #242424;
    outline: none;
    transition: background-color 0.3s ease;
}

.search-container input[type='text']:focus {
    background-color: #464646;
}

.search-container input[type='text']::placeholder {
    color: white;
}

.library-body {
    width: 100%;
    padding: 0 3%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    overflow-y: auto;
    height: calc(100% - 30px);
}

.library-body::-webkit-scrollbar {
    width: 10px; /* Width of the scrollbar */
}

.library-body::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.2); /* Color of the scrollbar thumb */
    border-radius: 10px; /* Rounded corners of the thumb */
}

.playlist-card {
    position: relative;
    width: calc(20% - 20px);
    height: 55%;
    border-radius: 20px;
    background-color: rgb(30, 42, 62);
    border: 1px solid rgba(54, 69, 98, 0.18);
    padding: 1%;
    margin-bottom: 2%;
    background: linear-gradient(75deg, rgb(40, 58, 88) 0%, rgba(54, 69, 98, 0) 100%);
    transition: all 0.2s ease;
    cursor: pointer;
    box-sizing: border-box;
}

.playlist-card:hover {
    transform: scale(1.02);
}

.playlist-card:hover .playlist-fade {
    opacity: 1;
}

.playlist-card:hover .playlist-title,
.playlist-card:hover .playlist-subtitle {
    color: rgba(255, 255, 255, 0.883);
}

.playlist-image {
    width: 100%;
    aspect-ratio: 1;
    border-radius: 12px;
}

.playlist-title {
    font-weight: 800;
    font-size: 14px;
    color: #c4d0e3;
    margin: 10px 0px 10px;
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
}

.playlist-subtitle {
    font-weight: 400;
    font-size: 12px;
    margin: 0px;
    color: #c4d0e3;
}

.loading-text {
    color: white;
}

.playlist-fade {
    position: absolute;
    right: 0;
    bottom: 0;
    opacity: 0;
    width: 100%;
    height: 34%;
    border-radius: 20px;
    background: linear-gradient(180deg, rgba(54, 69, 98, 0) 10%, rgba(54, 69, 98, 1) 100%);
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    padding: 8%;
    transition: 0.5s ease;
}
