.left-player-body {
  width: 65%;
  margin-right: 2%;
  height: 100%;
}
  

.right-player-body {
  width: 30%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


.screen-containe {

  width: 100%;
  height: 100%;
  border-radius: 30px;
  background-color: #000000;
  opacity: 1;
  background-size: cover;
  background-position: center;
  background-image: repeating-radial-gradient(
      circle at center left,
      transparent 0,
      #1e2a3e 100px 
      ),
      repeating-linear-gradient(#0f162155, #233656)
}
